@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap";


*,
*::before,
*::after { 
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #08c;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444;
}
